{% extends 'SeniorProjectApp/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 style="color:white">Your Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="color:white">Item</th>
                <th scope="col" style="color:white">Price</th>
            </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
          <tr style="color: white">
            <td>{{ item.name }}</td>
            <td>${{ item.price }}</td>
            <td>Quantity: {{ item.quantity }}</td>
            <td>
                <button class="btn btn-danger" onclick="removeFromCart({{ item.id }})">Remove</button>
            </td>
            <td>{{ item.id }}</td>            
          </tr>
          {% endfor %}
          
        </tbody>
    </table>
    <p style="color:white">Total Price: ${{ total_price }}</p>
</div>
<script>
    function removeFromCart(itemId) {
        $.ajax({
            url: "{% url 'cart_delete' %}",
            type: 'POST',
            data: {
                'action': 'post',
                'product_id': itemId,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },

            dataType: 'json',
            success: function (data) {
                $('#cart-quantity').text(data.qty);

                location.reload();
            },

            error: function(error) {
                console.log('Error', error);
            }
        });
    }
</script>
{% endblock %}
