{% extends 'SeniorProjectApp/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 style="color:white">Your Cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="color:white">Item</th>
                <th scope="col" style="color:white">Price</th>
                <th scope="col" style="color:white">Quantity</th>
            </tr>
        </thead>
        <tbody>
          {% for item in cart_items %}
            <tr style="color: white">
                <td>{{ item.product.name }}</td>
                <td>${{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <button class="btn btn-danger remove-from-cart-btn" data-product-id="{{ item.product.id }}">Remove</button>
                </td>                       
            </tr>
          {% endfor %}
        </tbody>
    </table>
    
    <p style="color:white">Subtotal: ${{ total_price|floatformat:2 }}</p>
</div>

</br></br></br></br></br></br></br></br></br></br></br>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            {% if request.user.is_authenticated %}
                <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Log in to Checkout</a>
            {% endif %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".remove-from-cart-btn").on('click', function () {
            var productId = $(this).data("product-id");

            $.ajax({
                type: 'POST',
                url: '{% url "cart_delete" %}',
                data: {
                    'action': 'post',
                    'product_id': productId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    alert('Item removed from the cart!');
                    location.reload(); 
                },
                error: function (data) {
                    console.log('Error:', data);
                }
            });
        });
    });
</script>
{% endblock %}