{% extends 'SeniorProjectApp/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4" style="color:white">Order History</h2>

    {% if order_history %}
        {% for order in order_history %}
            <div class="card mb-4">
                <div class="card-header">
                    Order #{{ order.cart.id }} - {{ order.cart.timestamp }}
                </div>
                <div class="card-body">
                    <ul>
                        {% for item in order.items %}
                            <li>{{ item.product.name }} - Quantity: {{ item.quantity }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No order history available.</p>
    {% endif %}
</div>
{% endblock %}
