.flex-container {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 250vh;
  background-color: #f8f9fa0e; /* Adjust the color as needed */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  text-align: left;
}

.sidebar ul li a {
  text-decoration: none;
  color: white; /* Adjust the color as needed */
  display: block;
}

.sidebar ul li a:hover {
  background-color: #110101; /* Adjust the color for hover effect */
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 100px; /* Add margin to prevent content from being hidden by the sidebar */
}

.containerrow {
  scroll-margin-top: 120px;
}

