
{% extends 'SeniorProjectApp/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-4" style="color: white;">Our Story</h1>
  <p style="color: white;">We are a small coffee shop that specializes in artisanal coffee blends and fresh baked goods. Our coffee beans are carefully selected from the best coffee farms in the world and our baked goods are made with the finest ingredients.</p>
  <div class="row">
      <div class="col-md-6 mb-4">
          <img src="static/Beans.jpg" class="img-fluid">
      </div>
      <div class="col-md-6 mb-4">
          <img src="static/CoffeeRoom.png" alt="Image 2" class="img-fluid">
      </div>
      <div class="col-md-6 mb-4">
          <img src="static/Plants.jpg" alt="Image 3" class="img-fluid">
      </div>
      <div class="col-md-6 mb-4">
          <img src="static/Machine.jpg" alt="Image 4" class="img-fluid">
      </div>
  </div>
</div>


{% endblock %}