{% extends 'SeniorProjectApp/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<div class="logo">
  <h1>Reset Coffee Shop</h1>
</div>

<div class="container">
  <h2>Welcome to Reset Coffee Shop</h2>
  <p>We are a small coffee shop that specializes in artisanal coffee blends and fresh baked goods. Our coffee beans are carefully selected from the best coffee farms in the world and our baked goods are made with the finest ingredients.</p>

  <h3>Our Menu</h3>
  <p>Check out our menu of delicious coffee drinks and baked goods:</p>
 
</div>

{% endblock %}