{% extends 'SeniorProjectApp/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
 <!-- slider section -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for object in obj %}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for object in obj %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ object.image.url }}" style="height: 650px; margin: 0 auto;" class="testi-overly d-block mx-auto" alt="sliderImg">
        <div class="carousel-caption d-none d-md-block text-center">
          <h1 class="animate__animated
            {% if forloop.first %}
            animate__fadeInDown
            {% endif %}
            {% if forloop.index0 == 1 %}
            animate__bounce
            {% endif %}
            {% if forloop.index0 == 2 %}
            animate__fadeInRight
            {% endif %}">{{ object.title }}</h1>
          <h3 class="animate__animated animate__zoomIn">{{ object.sub_title }}</h3>
          <a href="{{ object.link }}" class="button animate__animated animate__zoomIn mt-3 py-3 px-5 btn font-weight-bold">{{ object.action_name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
