{% extends 'SeniorProjectApp/base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container align-items-center justify-content-center">
  <ul class="list-unstyled">
    {% for category in categories %}
    <div class="row">
      <li>
        <div class="card custom-bg-color">
          <div class="card-header text-center">
            <h2 style="color: Black;">{{ category.name }}</h2>
          </div>
          <div class="card-body">
            <ul>
              {% for item in category.menu_items.all %}
                <a href="{% url 'item_detail' item.id %}">
                  {% if item.image %}
                    <img src="{{ item.image.url }}" width="45">
                  {% else %}
                    <img src="{% static 'static/default_image.png' %}" width="45">
                  {% endif %}
                </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </li>
    </div>
    {% if forloop.counter == 1 %}
      <div class="clearfix"></div>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
