{% extends 'SeniorProjectApp/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2 class="display-3 text-success">Payment Successful!</h2>
            <p class="lead mt-3 text-white">Thank you for your purchase. Your order has been placed and is being processed.</p>
            
            <p class="text-white">If you have any questions about your order, please <a href="{% url 'home' %}" class="text-primary">contact us</a>.</p>
            <div class="mt-4">
                <a href="{% url 'menu' %}" class="btn btn-primary">Continue Shopping</a>
            </div>
        </div>
    </div>
</br></br></br></br></br></br></br></br></br></br></br>
</div>
{% endblock %}
